<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:fragment="header" class="navbar">
    <ul>
        <li>
            <a th:href="@{/}">
                <img src="transp-logo.png" th:src="@{/images/transp-logo.png}" th:alt="#{logo}"
                width="15%" height="15%"/>
            </a>
        </li>
        <li>
            <a th:href="@{/}" th:text="#{header.main_page}">Главная</a>
        </li>
        <li>
            <a th:href="@{/members}" th:text="#{header.members}">Члены</a>
        </li>
        <li>
            <a th:href="@{/members/create}" th:text="#{header.create_member}">Создать нового члена</a>
        </li>
    </ul>
</nav>
</body>
</html>