<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${member.firstname + ' ' + member.lastname}">Член НКСО</title>
    <styles th:src="@{/static/css/members-view.css}"></styles>
</head>
<body>
<div th:insert="~{header :: header}"></div>

<h2>Информация о члене НКСО</h2>
<table th:object="${member}">
    <tbody>
    <tr>
        <th th:text="#{member.registryNum}">Регистрационный номер</th>
        <td th:text="*{registryNum}"></td>
    </tr>
    <tr>
        <th th:text="#{member.dateAddedToRegistry}">Дата внесения в реестр</th>
        <td th:text="${#temporals.format(member.dateAddedToRegistry, 'dd.MM.yyyy')}" class="date"></td>
    </tr>
    <tr>
        <th th:text="#{member.textDateAddedToRegistry}"></th>
        <td th:text="*{textDateAddedToRegistry}"></td>
    </tr>
    <tr>
        <th th:text="#{member.fullTextDateAddedToRegistry}"></th>
        <td th:text="*{fullTextDateAddedToRegistry}"></td>
    </tr>
    <tr>
        <th th:text="#{member.subjectRf}"></th>
        <td th:text="*{subjectRf}"></td>
    </tr>
    <tr>
        <th th:text="#{member.city}"></th>
        <td th:text="*{city}"></td>
    </tr>
    <tr>
        <th th:text="#{member.regionPartnership}"></th>
        <td th:text="*{regionPartnership}"></td>
    </tr>
    <tr>
        <th th:text="#{member.rpCode}"></th>
        <td th:text="*{rpCode}"></td>
    </tr>
    <tr>
        <th th:text="#{member.lastname}"></th>
        <td th:text="*{lastname}"></td>
    </tr>
    <tr>
        <th th:text="#{member.firstname}"></th>
        <td th:text="*{firstname}"></td>
    </tr>
    <tr>
        <th th:text="#{member.middlename}"></th>
        <td th:text="*{middlename}"></td>
    </tr>
    <tr>
        <th th:text="#{member.dateOfBirth}"></th>
        <td th:text="${#temporals.format(member.dateOfBirth, 'dd.MM.yyyy')}" class="date"></td>
    </tr>
    <tr>
        <th th:text="#{member.birthPlace}"></th>
        <td th:text="*{birthPlace}"></td>
    </tr>
    <tr>
        <th th:text="#{member.tin}"></th>
        <td th:text="*{tin}"></td>
    </tr>
    <tr>
        <th th:text="#{member.ssn}"></th>
        <td th:text="*{ssn}"></td>
    </tr>
    <tr>
        <th th:text="#{member.membershipInRp}"></th>
        <td th:text="*{membershipInRp}"></td>
    </tr>
    <tr>
        <th th:text="#{member.registerNumInRp}"></th>
        <td th:text="*{registerNumInRp}"></td>
    </tr>
    <tr>
        <th th:text="#{member.dateJoiningRp}"></th>
        <td th:text="${#temporals.format(member.dateJoiningRp, 'dd.MM.yyyy')}" class="date"></td>
    </tr>
    <tr>
        <th th:text="#{member.dateExclusionFromRp}"></th>
        <td th:text="${#temporals.format(member.dateExclusionFromRp, 'dd.MM.yyyy')}" class="date"></td>
    </tr>
    <tr>
        <th th:text="#{member.totalWorkExperience}"></th>
        <td th:text="*{totalWorkExperience}"></td>
    </tr>
    <tr>
        <th th:text="#{member.evaluatedWorkExperience}"></th>
        <td th:text="*{evaluatedWorkExperience}"></td>
    </tr>
    <tr>
        <th th:text="#{member.assessmentWorkExperience}"></th>
        <td th:text="${#temporals.format(member.assessmentWorkExperience, 'dd.MM.yyyy')}" class="date"></td>
    </tr>
    <tr>
        <th th:text="#{member.passport}"></th>
        <td th:text="*{passport}"></td>
    </tr>
    <tr>
        <th th:text="#{member.registrationAddress}"></th>
        <td th:text="*{registrationAddress}"></td>
    </tr>
    <tr>
        <th th:text="#{member.correspondenceAddress}"></th>
        <td th:text="*{correspondenceAddress}"></td>
    </tr>
    <tr>
        <th th:text="#{member.memberEmailNkso}"></th>
        <td th:text="*{memberEmailNkso}"></td>
    </tr>
    <tr>
        <th th:text="#{member.memberEmailNkso2}"></th>
        <td th:text="*{memberEmailNkso2}"></td>
    </tr>
    <tr>
        <th th:text="#{member.cityPhoneCode}"></th>
        <td th:text="*{cityPhoneCode}"></td>
    </tr>
    <tr>
        <th th:text="#{member.contactPhone}"></th>
        <td th:text="*{contactPhone}"></td>
    </tr>
    <tr>
        <th th:text="#{member.mobilePhone}"></th>
        <td th:text="*{mobilePhone}"></td>
    </tr>
    <tr>
        <th th:text="#{member.textCertificateNumCriminalRecord}"></th>
        <td th:text="*{textCertificateNumCriminalRecord}"></td>
    </tr>
    <tr>
        <th th:text="#{member.certificateNumCriminalRecord}"></th>
        <td th:text="*{certificateNumCriminalRecord}"></td>
    </tr>
    <tr>
        <th th:text="#{member.textCertificateDateCriminalRecord}"></th>
        <td th:text="*{textCertificateDateCriminalRecord}"></td>
    </tr>
    <tr>
        <th th:text="#{member.certificateDateCriminalRecord}"></th>
        <td th:text="${#temporals.format(member.certificateDateCriminalRecord, 'dd.MM.yyyy')}" class="date"></td>
    </tr>
    <tr>
        <th th:text="#{member.tCertificateDateCriminalRecord}"></th>
        <td th:text="*{tCertificateDateCriminalRecord}"></td>
    </tr>
    <tr>
        <th th:text="#{member.dateChangeInRegisterMembers}"></th>
        <td th:text="*{dateChangeInRegisterMembers}"></td>
    </tr>
    <tr>
        <th th:text="#{member.dateChangeMembers}"></th>
        <td th:text="*{dateChangeMembers}"></td>
    </tr>
    <tr>
        <th th:text="#{member.dateModificationMembers}"></th>
        <td th:text="*{dateModificationMembers}"></td>
    </tr>
    <tr>
        <th th:text="#{member.needToChangeMembers}"></th>
        <td th:text="*{needToChangeMembers}"></td>
    </tr>
    <tr>
        <th th:text="#{member.adequacyNksoMember}"></th>
        <td th:text="*{adequacyNksoMember}"></td>
    </tr>
    <tr>
        <th th:text="#{member.noteNksoMember}"></th>
        <td th:text="*{noteNksoMember}"></td>
    </tr>
    </tbody>
</table>
<input type="button" th:onclick="|location.href='@{/members/{registryNum}/edit(registryNum=${member.registryNum})}'|" value="Редактировать">
</body>
</html>
