<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${member.firstname + ' ' + member.lastname}">Член НКСО</title>
</head>
<body>
<div th:insert="~{header :: header}"></div>
<span th:if="${saveIsSuccessful}">Изменения сохранены</span>
<form th:action="@{/members/{registryNum}/edit(registryNum=${member.registryNum})}" th:method="post">
    <div th:each="field : ${fields}">
        <label th:for="${field.key}" th:text="#{'member.' + ${field.key}}">Название поля</label>
        <input type="text" th:name="${field.key}" th:value="${field.value}"/>
    </div>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>
</body>
</html>
